{% set wc_config_keys = [
    'wc_compose_name',
    'wc_compose_service_base',
    'wc_compose_logging_driver',
    'wc_compose_logging_options',
    'wc_compose_default_attestations',
    'wc_certs_generate_wildcards',
    'wc_certbot_email',
    'wc_certbot_staging',
    'wc_certbot_extra_args',
    'wc_traefik_admin_host',
    'wc_traefik_admin_use_internal',
    'wc_traefik_admin_use_auth',
] %}
{{ dict(wc_config_keys | zip(q('ansible.builtin.vars', *wc_config_keys))) | to_nice_yaml(indent=2, sort_keys=False) }}
